.with-shadow:hover {
  -webkit-box-shadow: 0px 0px 26px 14px rgba(22, 25, 235, 0.45);
  -moz-box-shadow: 0px 0px 26px 14px rgba(22, 25, 235, 0.45);
  box-shadow: 0px 0px 26px 14px rgba(22, 25, 235, 0.45);
}
